.header{
    text-align: center;
    background-color: #44b3d257;
    padding: 1px;
    width: 100%;
}

.icon-bar{
    width: 22px;
    background-color: #000;
    height: 2px;
    margin-top: 2px;
    display: block;
}
.toggleButton{
    display: none;
}

.dropDown{
    margin-top: 42px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.dropDown a{
    color: #000;
    float: none;
    display: block;
}

.dropDown a:hover{
    background-color: rgb(54, 52, 52)
}

.dropDown:hover{
    background-color: rgb(54, 52, 52)
    
}
@media screen and (max-width:640px){
.toggleButton{
    display: block;
}
}

@media screen and (max-width:320px){
    .header{
        width:400px
    }
}